.button {
    padding: 7px 10px;
    display: block;
    border: 1px solid #bbb;
    background-color: #fff;
    color: #000;
    font-size: 15px;
    cursor: pointer;
}

.button:hover {
    background-color: rgba(228, 238, 255, 0.7);
}